@media (min-width: 1024px) {
    body {
        max-height: 100%;
        height: auto;
        width: auto;
    }
}

.allPage{
    background-color: #FFFFFF;
    position: absolute;
    width: 30%;
    height: 90%;
    max-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: 1.5rem;
    border: 0.01px solid black;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.backgroundPerCent{
    background-color: rgba( 0, 199, 32, 0.38);
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -20%);
    height: 62.5%;
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}

.fontConfig{
    color: black;
    line-height: 2.0;
}

.inputCadastroName{
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    max-height: 100%;
    max-width: 200px;
    width: 45%;
    height: 3rem;
    margin: 1px;
    padding-left: 20px;
}

.inputCadastro{
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    max-height: auto;
    max-width: auto;
    height: 3rem;
    width: 91.2%;
    margin: 5px auto;
    padding-left: 20px;
    display: flex;
}

.selectComponent{
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    max-height: auto;
    max-width: auto;
    width: 91.2%;
    height: 3rem;
    margin: 5px auto;
    padding-left: 20px;
    display: flex;
}

select{
    color: rgba(0, 0, 0, 0.5);
}

option{
    color: black;
}

.buttonCadastrar{
    background-color: #027649;
    color: #FFFFFF;
    border-radius: 1.2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    padding: 15px;
    margin-top: 1.0rem;
}

.buttonCadastrar:hover{
    cursor: pointer;
}